.container {
  width: auto;
  display: flex;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 3.5rem;
  align-items: center;
  
 
}

 .videocard img {
  display: flex;
  align-items: center;
  display: flex;
 
}











