.button {
  align-items: center;
  border-radius: 4px;
  font-size: 21px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  width: 180px;
  height: 54px;
}

.black {
  background-color: var(--color-black);
  color: var(--color-white);
  border: var(--color-white) 1px solid;
}

.blue {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
}

.grey {
  background-color: var(--color-gray-light);
  color: var(--color-black);
  border: none;
}


