.button {
  border-radius: 4px;
  font-size: 21px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  width: 180.125px;
  height: 54px;
}

.black {
  background-color: black;
  color: white;
  border: white 1px solid;
}

.blue {
  background-color: var(--color-primary-medium);
  color: white;
  border: none;
}

.grey {
  background-color: var(--color-gray-light);
  color: black;
  border: none;
}
