.main {
  display: flex;
}

.container {
  padding-bottom: 5rem;
}

@media (min-width: 600px) {
  .MuiContainer-root {
    padding-left: 24px;
    padding-right: 24px;
  }

  .css-1oqqzyl-MuiContainer-root {
    width: 100%;
    margin-left: auto;
    /* box-sizing: border-box; */
    margin-right: auto;
    display: block;
  }
}
