

.section {
  display: flex;
  padding-left: 3rem;
  align-items: center;
 
  
}

.title {
  display: flex;
  width: 12.75rem;
  height: 3.75rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0.25rem;
}

.title h2 {
  color: var(--color-white);
  text-align: center;

  /* @title-small */
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section p {
  color: var(--color-white);
  padding-left: 1rem;
  /* @body-medium */
  text-align: center;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.react-multi-carousel-track {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  margin-bottom: 1rem;
 
}
