.table {
  border: 2px solid var(--color-primary);
  border-radius: 2px;
  width: 100%;
}
.head {
  color: var(--color-gray-light);

  border-bottom: 2px solid var(--color-primary);
  font-family: Roboto;
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.head :not(:last-child) {
  border-right: 2px solid var(--color-primary);
}

.cell {
  color: var(--color-gray-light);
  font-family: Roboto;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.btnTable {
  background-color: transparent;
  border: none;
  color: var(--color-gray-light);
  font-family: Roboto;
  font-size: 1.6875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  cursor: pointer;
}
