.firstCarousel {
  align-items: center;
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 2rem;
  left: 20px;
  width: 18rem;
  height: 14rem;
  border-radius: 0.2rem;
}
.videoCard  {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2rem;
  left: 20px;
  width: 18rem;
  height: 14rem;
  border-radius: 0.2rem;
}

.videoCard img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 425px) {
  .firstCarousel {
    display: flex;
    justify-content: space-between;
  
  }

  .firstCarousel {
    max-width: 100%;
  }
  
}

