
.videoCard  {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2rem;
 
  width: 18rem;
  height: 14rem;
  border-radius: 0.2rem;
}

.videoCard img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.react-multi-carousel-list {
  display: flex;
  justify-content: center;
}


