:root {
  font-family: "Roboto", sans-serif;
  --color-frontend: #6bd1ff;
  --color-datascience: #69953b;
  --color-mobile: #ffba05;
  --color-backend: #fc4129;
  --color-gray-light: #f5f5f5;
  --color-white: #fff;
  --color-primary: #2a7ae4;
  --color-gray: #53585d;
  --color-black: #000;

  color-scheme: light dark;
  background-color: var(--color-black);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
