.container {
  margin-bottom: 2rem;
  margin-left: 2%;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 809px;
  display: flex;
  align-items: center;
}

.banner_left {
  padding: 2.5rem;
}

.title {
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 18.5rem;
  max-width: fit-content;
  height: 5.75rem;
  flex-shrink: 1;
  margin-bottom: 1.5rem;
}
.title h1 {
  padding: 0.25rem;
  color: var(--color-gray-light);
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle h2 {
  padding: 0.25rem;
  color: var(--color-gray-light);
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.description {
  width: 41rem;
  height: 6.875rem;
  flex-shrink: 1;
}

.description p {
  color: var(--color-gray-light);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.player {
  width: 30rem;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 0.2rem;
  margin-right: 3rem;
  justify-content: center;
}

.player img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 664px) {
  .banner {
    padding: 0.2rem;
    flex-wrap: wrap;
    width: 100%;
  }
  .description {
    display: flex;
    width: 100%;
  }
  .banner img {
    margin-top: 3rem;
    width: 90%;
    height: 90%;
  }
}
